<div class="container article" >
  <div class="container--border article__inner">
    <h2 class="article__heading">Vector Graphics</h2>
    <p class="article__paragraph">Definition: Composed of mathematical paths (points, lines, curves),
       not pixels
    </p>
    
    <div class="article__cell">
      <h3 class="article_list-heading">Key Features:</h3>
      <ul class="article__list">
        <li class="article__list-item">
          Infinitely scalable without quality loss
        </li>
        <li class="article__list-item">
          Smaller file sizes for simple designs
        </li>
         <li class="article__list-item">
          Ideal for logos, icons, and UI elements.
        </li>
        <li class="article__list-item">
          Easily editable (shapes, colors, paths)
        </li>
      </ul>
    </div>

    <div class="article__cell">
      <h3 class="article_list-heading">Common Formats:</h3>
      <ul class="article__list"> 
        <li class="article__list-item">
          SVG - Web-friendly, supports interactivity and animation
        </li>
        <li class="article__list-item">
           Canvas (with vector libraries) - Dynamic graphics and data visualizations
        </li>
        <li class="article__list-item">
          PDF - Universal format preserving vector data
        </li>
      </ul>
    </div>

    <div class="article__cell">
      <h3 class="article_list-heading">Use Cases:</h3>
      <ul class="article__list">
        <li class="article__list-item">Logos and brand identity</li>
        <li class="article__list-item">Icons and UI elements</li>
        <li class="article__list-item">Illustrations and infographics</li>
        <li class="article__list-item">Typography and fonts</li>
      </ul>
    </div>

    <div class="article__cell">
      <h3 class="article_list-heading">Vector Graphics Summary</h3>
      <ul class="article__list"> 
        <li class="article__list-item">
          Path-based: Created with mathematical equations defining shapes
        </li>
        <li class="article__list-item">
          Resolution-independent: Perfectly sharp at any size
        </li>
        <li class="article__list-item">
          Best for: Logos, icons, typography, technical drawings
        </li>
        <li class="article__list-item">
          The most common format: SVG.
        </li>
        <li class="article__list-item">
          Pros: Scalable, small file sizes, editable, animation-ready
        </li>
        <li class="article__list-item">
          Cons: Not ideal for photorealistic images
        </li>
      </ul>
    </div>
     <p class="article__paragraph">
      In frontend development, vector graphics are perfect for icons, logos, and UI elements that must scale cleanly. Use SVG for web, apply CSS for styling, and prefer vectors when sharpness and responsiveness are key.
    </p>
  </div>
</div>
