<section class="banner banner__container">
  <div class="banner__inner banner--border">
    <a class="banner__content">
      <h2 class="banner__heading">Learn about some features in our 'How-To Guides' section:</h2>
      <ul class="banner__features-list">
        <li class="banner__feature-item">How to center div in CSS</li>
        <li class="banner__feature-item">How to use Flexbox for layout</li>
        <li class="banner__feature-item"> How to add hover effect?</li>
        <li class="banner__feature-item"> How to make a smooth scroll</li>
        <li class="banner__feature-item"> How to overlay one div over another</li>
        <li class="banner__feature-item"> How to position an element absolute</li>
        <li class="banner__feature-item"> How to position an element absolute</li>
        <li class="banner__feature-item">How to make a responsive layout with CSS Grid</li>
      </ul>
    </a>
      <button class="button button-medium-large button--animation" type="button"> Lear now!
        <span class="button-background button-primary"></span>
      </button>
  </div>
</section>
