<section class="banner banner__container">
  <div class="banner__inner banner--border">
    <a class="banner__content" routerLink="/browser">
      <h2 class="banner__heading">Learn more about page loading process: </h2>
      <ul class="banner__features-list">
        <li class="banner__feature-item">What Is a URL and what are it's parts</li>
        <li class="banner__feature-item">URL Input and Parsing</li>
        <li class="banner__feature-item">DNS Lookup</li>
        <li class="banner__feature-item">TCP Connection</li>
        <li class="banner__feature-item">TLS Handshake</li>
        <li class="banner__feature-item">HTTP Request</li>
        <li class="banner__feature-item">Parsing and Rendering the Page</li>
      </ul>
    </a>
      <button class="button button-medium-large button--animation" 
              type="button" routerLink="/browser"> Lear now!
        <span class="button-background button-primary"></span>
      </button>
  </div>
</section>
