@use '../../../../../assets/styles/media' as *;
@use '../../../../../assets/styles/mixins' as *;


.banner__inner {
	gap: 10px;
	padding: 16px;
	min-height: 200px;
	position: relative;
	background: var(--white);
	@include background-snow;
	display: flex;
	align-items: center;
	justify-content: start; 

		@include laptop-min-width {
			justify-content: space-evenly; 
		}
}

.banner__content {
	display: grid;
	grid-row-gap:10px;
}

.banner__actions {
	margin-top: 40px;
	gap: 20px;
	@include flex-column;
	justify-content: space-around;
	align-items: center;
		@include tablet-min-width {
			flex-direction: row;
			margin-top: 0;
			gap: 50px;
	}
}

.banner__feature-item {
  text-transform: none;
}