<div class="container article">
  <div class="container--border article__inner">
    <h2 class="article__heading">Types of Graphics</h2>
    <div class="article__separator"></div>
    <p>Graphics play a vital role in design, interfaces, and web development.
       Choosing the right type directly affects quality, loading speed, and the visual
        appeal of a website or app. ll digital images fall into two main categories:
         raster graphics and vector graphics.
    </p>
      <div class="banner__image-wrap" >
          <img class="banner__img" src="img/types-img.png" alt="raster-vector-img">
      </div>
      <div id="raster-img"></div>
  </div>
</div>