@use '../../../../../assets/styles/media' as *;
@use '../../../../../assets/styles/mixins' as *;


.cards-categories__inner {
  display: grid;
  place-items: center;
  overflow-x: auto;
}

.cards-grid {
  position: relative;
  display: grid;
	grid-column-gap: 14px;
  grid-auto-flow: column;
  padding-right: 18px;
  grid-auto-columns: auto;
}

.cards-grid__link {
  width: 140px;
  height: 200px;
  border-left: 3px double var(--main-light-blue-transparent);
  border-top: 3px double var(--main-light-blue-transparent);
  border-radius: 8px;
  margin: 8px 0 20px 0;
  transition: transform 0.2s ease-in-out;
  @include desktop-min-width {
    height: 240px;
    width: 172px;
   
  }
}
.cards-grid__link:hover {
  transform: translate(3%, -1%) scale(1.03);
}

.card__img {
  background: transparent;
  object-fit: contain; 
}

.cards-heading {
  padding-inline-end:16px;
  display:flex;
  justify-content: space-between;
}

.cards-heading__link,
.cards-heading__title {
  font-size: 16px;
  font-weight: 500;
  display: inline-flex;
  color: var(--white);
  text-transform: capitalize;
  text-decoration: underline;
}

