

<div class="container article" >
  <div class="container--border article__inner">

    <h2 class="article__heading"> Hard Skills </h2>
    <div class="article__cell">
      <h2 class="article__list-heading">Technical Abilities</h2>
      <ul class="article__list">
        <li class="article__list-item">HTML (HTML5)</li>
        <li class="article__list-item">CSS (CSS3) Responsive layout (Flexbox, Grid)</li>
        <li class="article__list-item">BEM — naming convention </li>
        <li class="article__list-item">Preprocessor SASS (SCSS — newer syntax)</li>
        <li class="article__list-item">Git</li>
        <li class="article__list-item">JavaScript (basic)</li>
        <li class="article__list-item">Figma</li>
        <li class="article__list-item">Browser DevTools</li>
        <li class="article__list-item">
          Angular: General Architecture, Routing, Interpolation, Property binding,
         Component-Based Approach (HTML template,TS logic, SCSS styling),
          Reusability, Encapsulation.
        </li>
      </ul>
    </div>

  </div>
</div>