@use 'media' as *;
@use 'mixins' as *;

.article__inner {
  padding: 12px;
  background: var(--white);
  display: grid;
  grid-row-gap: 16px;
  
    @include tablet-min-width {
      padding: 32px 96px;
      grid-row-gap: 24px;
    }
}

.article__heading {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}

.article_list-heading {
  font-weight: 600;
}

.article__content {
  @include tablet-min-width {
    padding-inline-start: 20px;
  }
}


.article__list-item {
  margin-inline-start: 30px;
  padding-top: 8px;
  list-style-type: disc;
}