<div class="container article" >
  <div class="container--border article__inner">
    <h2 class="article__heading">Raster Graphics (Bitmap Images)</h2>
    <p class="article__paragraph">Definition: Composed of a grid of pixels,
         each with a specific color value.
    </p>
    <div class="article__cell">
      <h3 class="article_list-heading">Key Features:</h3>
      <ul class="article__list">
        <li class="article__list-item">
          Fixed resolution (quality loss when scaled up).
        </li>
        <li class="article__list-item">
          Ideal for complex images like photos
        </li>
         <li class="article__list-item">
          Larger file sizes compared to vectors.
        </li>
      </ul>
    </div>

    <div class="article__cell">
      <h3 class="article_list-heading">Common Formats:</h3>
      <ul class="article__list"> 
        <li class="article__list-item">
          JPEG – Best for photographs (lossy compression).
        </li>
        <li class="article__list-item">
          GIF – Supports animation (limited colors).
        </li>
        <li class="article__list-item">
          WebP – Modern alternative (better compression than JPEG/PNG).
        </li>
         <li class="article__list-item">
          AVIF – Next-gen format (superior compression, supports HDR & transparency).
        </li>
         <li class="article__list-item">
          HEIF/HEIC – Apple’s preferred format (stores images & sequences efficiently).
        </li>
      </ul>
    </div>

    <div class="article__cell">
      <h3 class="article_list-heading"> Use Cases:</h3>
      <ul class="article__list">
        <li class="article__list-item">Digital photography </li>
        <li class="article__list-item">Web images (banners, backgrounds)</li>
        <li class="article__list-item">Textures in games</li>
      </ul>
    </div>

    <div class="article__cell">
      <h3 class="article_list-heading">Raster Graphics Summary</h3>
      <ul class="article__list"> 
        <li class="article__list-item">
          Pixel-based: Made of a grid of tiny squares (pixels), each with its own color.
        </li>
        <li class="article__list-item">
         Resolution-dependent: Scaling up causes blurriness or pixelation
        </li>
        <li class="article__list-item">
          Best for: Photographs, realistic textures, complex visuals.
        </li>
        <li class="article__list-item">
          Common formats: JPEG, PNG, GIF, WebP,AVIF,HEIF/HEIC .
        </li>
        <li class="article__list-item">
          Pros: Rich detail, widely supported, easy to edit.
        </li>
         <li class="article__list-item">
          Cons: Not scalable, larger file sizes for high-res images.
        </li>
         <li class="article__list-item">
          HEIF/HEIC – Apple’s preferred format (stores images & sequences efficiently).
        </li>
      </ul>
    </div>
    <p class="article__paragraph" id="vector-img">In frontend development,
      raster graphics are great for detailed visuals like photos.
      Since they’re resolution-dependent and can slow down pages, use theright format,
      compress images, and enable lazy loading and responsive sizes to keep performance high.
    </p>
  </div>
</div>