<div class="container article" id="git-stages">
  <div class="container--border article__inner">
    <h2 class="article__heading">Git workflow stages</h2>
    <div class="article__separator"></div>
    <div class="article__cell">
      <h3 class="article_list-heading">There are several stages your code goes through during development:</h3>
      <ul class="article__list">
        <li class="article__list-item">Working Directory — the actual files in your project folder that you're editing.</li>
        <li class="article__list-item">Staging Area (Index) — the place where changes are added using
                                      <code>#git&nbsp;add</code> before committing.
        </li>
        <li class="article__list-item">Local Repository – the database on your computer are stored with <code>#git&nbsp;commit</code>.</li>
        <li class="article__list-item">Remote Repository – hosted on platforms like GitHub,GitLab,Bitbucket updated via 
                                    <code>#git&nbsp;push</code>.
        </li>
      </ul>
    </div>
    <div class="article__container-img">
        <img class="article__img" src="/img/git_stages.png" alt="git_stages">
    </div>
  </div>
</div>