
<div class="hero-banner  banner" id="git-repositories"> 
  <div class=" banner__inner banner--border ">
    <div class="banner__text-wrap">
      <h1 class="banner-heading">Git Repositories</h1>
      <p class="banner__text">A Git repository is a "container" for your project that stores
         its entire history, branches, tags, and settings.
      </p>
      <h1 class="banner-heading"> Types of Git Repositories</h1>
      <p class="banner__text">Git repositories can be categorized based on their location and purpose.
      </p>
    </div>
  </div>
</div>

