<div class="gallery ">
    
  <a href="#" class="gallery__heading">Portfolio</a>
  <div class="gallery__grid ">

      <a href="" class="gallery__link">
        <div class="gallery__button-wrap">
          <button class="button button-medium-large " type="button"> Visit now
            <span class="button-background button-primary"></span>
            <div class="button--decore"></div>
          </button>
        </div>
        <img class="gallery__img" src="img/cyprus-home.png" alt="" class="galery__img">
      </a>

      <a href="" class="gallery__link">
        <div class="gallery__button-wrap">
          <button class="button button-medium-large " type="button"> Visit now
            <span class="button-background button-primary "></span>
            <div class="button--decore"></div>
          </button>
        </div>
        <img class="gallery__img" src="img/cyprus-home.png" alt="" class="galery__img">
      </a>

      <a href="" class="gallery__link">
        <div class="gallery__button-wrap">
          <button class="button button-medium-large" type="button"> Visit now
            <span class="button-background button-primary "></span>
            <div class="button--decore"></div>
          </button>
        </div>
        <img class="gallery__img" src="img/cyprus-home.png" alt="" class="galery__img">
      </a>

      <a href="" class="gallery__link">
        <div class="gallery__button-wrap">
          <button class="button button-medium-large" type="button"> Visit now
            <span class="button-background button-primary "></span>
            <div class="button--decore"></div>
          </button>
        </div>
        <img class="gallery__img" src="img/cyprus-home.png" alt="" class="galery__img">
      </a>

  </div>
</div>