<div class="gallery ">
  
  <a href="#" class="gallery__heading">Portfolio</a>

  <div class="gallery__grid ">

      <a target="_blank" href="https://koliadanazar.github.io/cyprus/" class="gallery__link">
        <div class="gallery__button-wrap">
          <button class="button button-medium-large " type="button"> Visit now
            <span class="button-background button-primary"></span>
            <div class="button--decore"></div>
          </button>
        </div>
        <img class="gallery__img" src="img/cyprus-home.png" alt="" class="galery__img">
      </a>

      <a target="_blank" href="https://koliadanazar.github.io/cyprus/" class="gallery__link">
        <div class="gallery__button-wrap">
          <button class="button button-medium-large " type="button"> Visit now
            <span class="button-background button-primary "></span>
            <div class="button--decore"></div>
          </button>
        </div>
        <img class="gallery__img" src="img/cyprus-home.png" alt="" class="galery__img">
      </a>

      <a target="_blank" href="https://shihami-page-abcd9d.gitlab.io/" class="gallery__link">
        <div class="gallery__button-wrap">
          <button class="button button-medium-large" type="button"> In Development...
            <span class="button-background button-primary "></span>
            <div class="button--decore"></div>
          </button>
        </div>
        <img class="gallery__img" src="img/nft-page.png" alt="" class="galery__img">
      </a>

      <a target="_blank" href="https://shihami-page-abcd9d.gitlab.io/" class="gallery__link">
        <div class="gallery__button-wrap">
          <button class="button button-medium-large" type="button"> In Development...
            <span class="button-background button-primary "></span>
            <div class="button--decore"></div>
          </button>
        </div>
        <img class="gallery__img" src="img/nft-page.png" alt="" class="galery__img">
      </a>

  </div>
</div>