<div class="gallery ">
    
  <a href="#" class="gallery__heading">Portfolio</a>
  <div class="gallery__grid ">

      <a href="" class="gallery__link">
        <img class="gallery__img" src="img/cyprus-home.png" alt="" class="galery__img">
      </a>

      <a href="" class="gallery__link">
        <img class="gallery__img" src="img/cyprus-home.png" alt="" class="galery__img">
      </a>

      <a href="" class="gallery__link">
        <img class="gallery__img" src="img/cyprus-home.png" alt="" class="galery__img">
      </a>

      <a href="" class="gallery__link">
        <img class="gallery__img" src="img/cyprus-home.png" alt="" class="galery__img">
      </a>

  </div>
</div>