@use 'media' as *;
@use 'mixins' as *;

.gallery {
  max-width: 1600px;
  margin: 0 auto;
}

.gallery__heading {
  font-size: 22px;
  font-weight: 600;
  @include flex-center;
  padding-bottom: 14px;
  color: var(--white);
  text-transform: capitalize;
  text-decoration: underline;
}

.gallery__grid {
  display: grid;
 justify-content: center;
  grid-column-gap: 12px;
  grid-row-gap: 18px;
  overflow-x: auto;

    @include tablet-min-width {
      grid-template-columns: max-content max-content;
       grid-template-rows: 1fr 1fr;
       place-items: center;
       grid-column-gap: 24px;
       grid-row-gap: 24px;
    }

    @include desktop-min-width {
      grid-template-columns: repeat(4, max-content);
      grid-template-rows: auto;
    }
}
.gallery__link {
  position: relative;
}

.gallery__link {
  position: relative;
  width: 300px;
  height: auto;
  border-radius: 16px;
  border: 2px solid var(--main-light-blue-transparent);
  overflow: hidden;

  @include mobile-min-width {
    width: 360px;
  }

  @include desktop-min-width {
    width: 280px;
  }

  @include large-desktop-min-width {
    width: 320px;
  }
}

.gallery__link:hover {
  border: 2px solid transparent;
}

.gallery__link:before {
  position: absolute;
   z-index: 0;
  content: '';
  width: 0;
  height: 100%;
  right: 0;
  top: 0;
  transition: width 0.2s ease;
   background-color:rgba(160, 184, 222, .7);
} 

.gallery__link:after {
  z-index: 0;
  position: absolute;
  content: '';
  width: 0;
  height: 100%;
  transition: width 0.2s ease;
   background-color:rgba(160, 184, 222, .7);
}

.gallery__link:hover::before,
.gallery__link:hover::after {
  width: 50%;
  opacity: 1;
}

.gallery__button-wrap{
  border: 3px solid var(--main-light-blue);
  border-radius: 12px;
  z-index: 2;
  opacity: 0;
  position: absolute;
  inset: 0;
  @include flex-center;
  transition: opacity 0.2s ease;
}

.gallery__button-wrap::before {
  position: absolute;
  content: '';
  width: 2px;
  left: 50%;
  height: 100%;
  background: var(--main-light-blue);
}

.button--decore::before {
  position: absolute;
  content: '';
  inset: -1px;
  border: 2px solid var(--main-light-blue);
  border-radius: 30px;
}

.button-border,
.gallery__link:hover .gallery__button-wrap {
  opacity: 1;
}