
<div class="container article" >
  <div class="container--border article__inner">

    <h2 class="article__heading"> Hobbies</h2>
    <div class="article__cell">
      <ul class="article__list">
        <li class="article__list-item">Swimming</li>
        <li class="article__list-item">Hiking</li>
        <li class="article__list-item">Table Tennis </li>
        <li class="article__list-item">Playing chess</li>
        <li class="article__list-item">Volleyball</li>
        <li class="article__list-item">Football</li>
        <li class="article__list-item">Sup Surfing</li>
        <li class="article__list-item" id="soft-skills">Table Games </li>
      </ul>
    </div>


  </div>
</div>