@use 'media' as *;
@use 'mixins' as *;

.hero-banner {
  padding-top: 38px;
    @include laptop-min-width {
      padding-top: 54px;
    }
}

.banner__inner {
  min-height: 200px;
  padding:  16px;
  background: var(--white);
  @include background-snow;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.banner__text-wrap {
  display: grid;
  grid-row-gap: 16px;
}
.banner-heading {
  text-align: center;
}

.banner__text {
  max-width: 800px;
}


.banner__image-wrap {
  flex-shrink: 0;
  height: 150px;
  width: 100px;
}

