

<div class="hero-banner  banner__container"> 

  <div class=" banner__inner banner--border ">
    <div class="banner__text-wrap">
      <h1 class="banner-heading"> What is Git? </h1>
      <p class="banner__text">Git is a free and open-source version control system.
        It helps developerstrack changes in their code, collaborate with others,
         and manage different versions of a project efficiently. 
      </p>
      <h1 class="banner-heading"> Whay do we use Git?</h1>
      <p class="banner__text">We use Git to track code changes, collaborate with
         team members, and manage different versions of a project. It helps
          prevent data loss, allows multiple developers to work on the same codebase,
         and makes it easy to roll back to previous versions when needed.
         Over 70% of developers use Git!
      </p>
    </div>
    <div class="banner__image-wrap">
        <img class="banner__img" src="/assets/images/git_card_global.png" alt="git_commands">
    </div>
  </div>


</div>