@use 'media' as *;
@use 'mixins' as *;

.hero-banner {
    @include laptop-min-width {
      padding-top: 54px;
    }
}

.banner__inner {
  min-height: 200px;
  padding:  24px;
  background: var(--white);
  @include background-snow;
  display: grid;
  grid-row-gap: 20px;
  justify-items: center;
  
    @include tablet-min-width {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      gap: 30px;
    }
}

.banner__text-wrap {   
  @include flex-column;
  justify-content: center;
  gap: 14px;
}

.banner-heading {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
    @include tablet-min-width {
      font-size: 26px;
    }
}

.banner__text {
  max-width: 800px;
  @include tablet-min-width {
      font-size: 18px;
    }
}

.banner__image-wrap {
  border-radius: 30px;
  flex-shrink: 0;
  height: 250px;
  width: 210px;

}

.banner__img {
  border-radius: 14px;
  border: 2px solid var(--main-light-blue);
}
