<section class="main-slider banner__container" #sliderSection>

  <div class="slide  _active _fade banner--border">
    <div class="slide__content">
      <h1 class="slide__text">Welcome <br> to my personal <br> web page!</h1>
      <a href="#contact-me" class="button button-medium-large">Contact Me
        <span class="button-background button-secondary "></span>
      </a>
    </div>
    <div class="slider__background">
      <picture>
        <source media="(min-width: 1023px)" srcset="img/slide1_bg-tabl.png">
        <img class="slider__backgroung-img" src="img/slide1_bg-mob.png"
              alt="slider-main-theme" width="1496" height="350">
      </picture>
    </div>
    <div class="slider__photo">
      <picture>
        <source media="(min-width: 768px)" srcset="img/Photo-me_tabl.jpg">
        <img class="slider__photo-img" src="img/photo-me.jpg" alt="my-portrait" width="210" height="350">
      </picture>
    </div>
  </div>
  <div class="slide  _fade banner--border">
    <div class="slider__background">
      <picture>
        <source media="(min-width: 540px)" srcset="img/slide_2_tabl.jpg">
        <source media="(min-width: 1023px)" srcset="img/slide_2_tabl.jpg">
        <img class="slider__backgroung-img" src="img/slide_2_mob.jpg" alt="slider" width="1496" height="350">
      </picture>
    </div>
    <div class="slide__content">
        <h1 class="slide__text">My name  is <br> Nazar Koliada <br> I'm front-end developer</h1>
        <a href="#contact-me" class="button button-medium-large button--animation">Contact Me
          <span class="button-background button-secondary "></span>
        </a>
    </div>
  </div>
  <div class="slide _fade banner--border">
    <div class="slider__background">
      <picture>
        <source media="(min-width: 540px)" srcset="img/slide_3_mount_tabl.jpg">
        <source media="(min-width: 1023px)" srcset="img/slide_3_mount_tabl.jpg">
        <img class="slider__backgroung-img" src="img/slide_3_mount_mob.jpg" alt="slider" width="1496" height="350">
      </picture>
    </div>
    <div class="slide__content">
        <h1 class="slide__text">The mountains <br> are so <br> Ibeautiful</h1>
        <a href="#contact-me" class="button button-medium-large"> Contact Me
          <span class="button-background button-secondary "></span>
        </a>
    </div>
  </div>
  <button class="arrow-previous controls" type="button" aria-label="previous slide" (click)="prevSlide()">
    <svg class="arrow-previous-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path fill="currentColor" d="M22,12A10,10 0 0,0 12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12M20,12A8,
            8 0 0,1 12,20A8,8 0 0,1 4,12A8,8 0 0,1 12,4A8,8 0 0,1 20,12M14,7L9,12L14,17V7Z" />
    </svg>
  </button>
  <button class="arrow-next controls" type="button"  aria-label="next slide" (click)="prevSlide()">
    <svg class="arrow-next-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path fill="currentColor" d="M2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2A10,10 0 0,0 2,12M4,
            12A8,8 0 0,1 12,4A8,8 0 0,1 20,12A8,8 0 0,1 12,20A8,8 0 0,1 4,12M10,17L15,12L10,7V17Z" />
    </svg>
  </button>
</section>