<div class="small-menu section">
  <div class="small-menu__inner ">
    <div class="small-menu__grid">
      <a class="small-menu__grid-item">
        <span class="small-menu__title" routerLink="css-page"> Css</span>
      </a>
      <a class="small-menu__grid-item" routerLink="/html-page">
        <span class="small-menu__title">Html</span>
      </a>
      <!--<a class="small-menu__grid-item">
        <span class="small-menu__title"> Js</span>
      </a> -->
       <a class="small-menu__grid-item" routerLink="/browser">
        <span class="small-menu__title">Brow <br>ser</span>
      </a>
       <a  class="small-menu__grid-item" routerLink="/git-page" >
        <span class="small-menu__title"> git</span>
      </a>
      <a class="small-menu__grid-item" routerLink="/images-page" >
        <span class="small-menu__title">img</span>
      </a>
      <a class="small-menu__grid-item" routerLink="/browser">
        <span class="small-menu__title"> Dom</span>
      </a>
      <a class="small-menu__grid-item">
        <span class="small-menu__title"> Tech</span>
      </a>
      <a class="small-menu__grid-item" target="_blank" href="https://github.com/KoliadaNazar">
        <span class="small-menu__title"> Git<br>Hub</span>
      </a>
    </div>
  </div>
</div>