<div class="small-menu section">
  <div class="small-menu__inner ">
    <div class="small-menu__grid">
      <a href="#" class="small-menu__grid-item">
        <span class="small-menu__title"> Css</span>
      </a>
      <a href="#" class="small-menu__grid-item">
        <span class="small-menu__title">Html</span>
      </a>
      <a href="#" class="small-menu__grid-item">
        <span class="small-menu__title"> Js</span>
      </a>
      <a href="#" class="small-menu__grid-item">
        <span class="small-menu__title">img</span>
      </a>
      <a href="#" class="small-menu__grid-item">
        <span class="small-menu__title"> cms</span>
      </a>
      <a href="#" class="small-menu__grid-item">
        <span class="small-menu__title"> core</span>
      </a>
      <a href="#" class="small-menu__grid-item">
        <span class="small-menu__title"> Back<br>end</span>
      </a>
      <a href="#" class="small-menu__grid-item">
        <span class="small-menu__title"> git</span>
      </a>
      <a href="#" class="small-menu__grid-item">
        <span class="small-menu__title"> Dom</span>
      </a>
    </div>
  </div>
</div>