
<div class="container article" id="git-bennefits">
  <div class="container--border article__inner">
    <h2 class="article__heading">Git general workflow</h2>
    <h3 class="article__heading">When working with Git in a team,
         following a structured workflow ensures smooth collaboration and code consistency.
    </h3>
    <div class="article__cell">
      <h3 class="article_list-heading">1.Clone the Repository (Only Once) </h3>
      <ul class="article__list">
        <li class="article__list-item">
          <code>#git clone</code> downloads the full history of the project, including all branches and commits.
        </li>
        <li class="article__list-item">  If it's your first time working with the project ,
           start by cloning the remote repository to your local machine using command: <br>
           <code>#git clone</code> http adress or SSH key
        </li>
        <li class="article__list-item">
           Then change directory <code>~cd folder_name</code>   <br>
           (You can also check your current branch using <code>#git branch</code>)
        </li>
      </ul>
    </div>

    <div class="article__cell">
      <h3 class="article_list-heading">2.Fetch and Update Your Local Branches</h3>
      <ul class="article__list">
        <li class="article__list-item">  Before starting any new task, always ensure
           your local branches are up-to-date with the remote repository.
        </li>
        <li class="article__list-item">
           <code>#git fetch </code>downloads changes but does not apply them automatically — it's
            safe to use anytime. <br>
           (Independent of the current branch - it downloads all changes
           from the remote repository across all branches, but does not merge them with the local ones.)
        </li>
      </ul>
    </div>

    <div class="article__cell">
      <h3 class="article_list-heading">3.Switch between branches</h3>
      <p class="article__cell-paragraph article--warning">WARNING! If there are unsaved changes in the
           working directory,Git will not let you switch (you need to commit or discard them).
      </p>
      <p class="article__cell-paragraph" >You can switch between branches using <code>#git checkout</code></p>
      <ul class="article__list">
        <li class="article__list-item">
            <code>#git checkout main</code> switch to the main branch <br>
        </li>
        <li class="article__list-item">
          <code>#git checkout feature/auth</code>switch to the feature/auth branch
        </li>
      </ul>
    </div>

     <div class="article__cell">
      <h3 class="article_list-heading">4.Update Your Local Repository.
      </h3>
       <p class="article__cell-paragraph"><code>#git pull</code> used to update your local branch with the latest
         changes from a remote repository. It combines two actions in one:
      </p>
      <ul class="article__list">
        <li class="article__list-item">
          <code>fetch</code> – downloads new commits and data from the remote branch.
        </li>
        <li class="article__list-item">
          <code>merge</code> – automatically merges the remote changes into your current branch.
        </li>
      </ul>
    </div>
  
    <div class="article__cell">
      <h3 class="article_list-heading">5.Create a branch and name it based on its
         purpose — such as feature, hotfix, or bugfix.
      </h3>
      <p class="article__cell-paragraph article--warning">Always work in a separate branch when developing
         new features or fixing bugs! You can use two ways of creating a new branch:
      </p>
      <ul class="article__list">
         <li class="article__list-item"> First run <code>#git branch branch-name</code> 
          to create the branch, then <code>#git checkout branch-name</code> to switch to it.
        </li>
        <li class="article__list-item">Use <code>#git checkout -b branch-name</code> to both create and
           immediately switch to the new branch.
        </li>
      </ul>
    </div>

    <div class="article__cell">
      <h3 class="article_list-heading">6.Stage changes</h3>
      <p class="article__cell-paragraph"> After you make changes in code - add them to Index.
      </p>
      <ul class="article__list">
         <li class="article__list-item"> <code>#git add .</code> stages all new and modified
           files in the current directory and subdirectories for the next commit.
        </li>
        <li class="article__list-item"> <code>#git add index.html</code> will add to stage
         only index.html file.
        </li>
      </ul>
    </div>

    <div class="article__cell">
      <h3 class="article_list-heading">7.Commit the changes</h3>
      <p class="article__cell-paragraph"> The git commit command is used to save your 
        staged changes to the local Git repository. Here's what it does:
      </p>
      <ul class="article__list">
         <li class="article__list-item"><code>#git commit -m "commit description here"</code>
          takes all changes that have been staged
        </li>
        <li class="article__list-item">Creates a new commit object with these changes</li>
        <li class="article__list-item">Records your name, email,
           the current date/time, and your commit message
        </li>
        <li class="article__list-item">Updates the current branch's reference to point to the new commit.
        </li>
      </ul>
    </div>
    
    <div class="article__cell">
      <h3 class="article_list-heading">8.Push your changes to the remote repository.</h3>
      <p class="article__cell-paragraph article--warning">
        Before pushing changes to a remote repository follow these critical checks to avoid mistakes:
      </p>
      <ul class="article__list">
         <li class="article__list-item article--warning"><code>#git status</code>
          shows the current state of your working directory and staging area.
        </li>
         <li class="article__list-item article--warning"><code>#git log --oneline</code>
                                          compact commit history <br>
          <code>#git log --p</code> detailed log with changes
        </li>
        <li class="article__list-item"><code>#git push origin branch/name</code> push it to remote
          (Origin - is the name of the he remote repository by default)
        </li>
      </ul>
    </div>

     <div class="article__cell">
      <h3 class="article_list-heading">8.Open a Pull Request (PR)</h3>
      <p class="article__cell-paragraph">
        Go to your Git platform (GitHub, GitLab, Bitbucket, etc.) 
        and create a Pull Request (also known as Merge Request). Select:
      </p>
      <ul class="article__list">
         <li class="article__list-item">Base branch: usually main</li>
         <li class="article__list-item">Compare branch: your new branch
           (feature/login-fix) Add reviewers, describe your changes, and wait for feedback.
        </li>
      </ul>
    </div>

    <div class="article__cell">
      <h3 class="article_list-heading">9.Review & Update (if needed)</h3>
      <p class="article__cell-paragraph">If there are suggestions or issues:</p>
      <ul class="article__list">
         <li class="article__list-item">Make changes locally</li>
         <li class="article__list-item">Stage and commit again</li>
          <li class="article__list-item">Push updates: <code> <br>
            git add . <br>
            git commit -m "Update based on PR review" <br>
            git push origin feature/login-fix</code>
          </li>
      </ul>
    </div>
    
    <div class="article__cell">
      <h3 class="article_list-heading">10.Merge the Pull Request</h3>
      <p class="article__cell-paragraph">After approval, merge the PR using the Git UI.</p>
      <ul class="article__list">
         <li class="article__list-item">Then delete the local or remotely feature branch if no longer needed <br>
           <code>git push origin --delete branch/name</code> <br>
           <code>git branch -d branch/name</code>
          </li>
      </ul>
    </div>

  </div>
</div>