<div class="container article">
  <div class="container--border article__inner">
    <div class="article__cell">
      <h3 class="article_list-heading"> Local Repository</h3>
      <ul class="article__list">
        <li class="article__list-item"> The copy of the project on your own computer,
           including your working directory and .git folder.
        </li>
      </ul>
    </div>
    <div class="article__cell">
      <h3 class="article_list-heading">Remote Repository</h3>
      <ul class="article__list"> 
        <li class="article__list-item">А version of the repository hosted on a server 
          (e.g., GitHub, GitLab, Bitbucket) that others can access and collaborate on.
        </li>
      </ul>
    </div>
    <div class="article__cell" >
      <h3 class="article_list-heading">Bare Repositor</h3>
      <ul class="article__list"> 
        <li class="article__list-item">А repository that contains only the Git version history
           (no working directory); used mainly as a central repo for collaboration (typically on servers).
        </li>
      </ul>
    </div>
  </div>
</div>