@use 'media' as *;
@use 'mixins' as *;



.banner__inner {
  min-height: 150px;
  padding:  24px 16px;
  background: var(--white);
  @include background-snow;
  grid-row-gap: 20px;
  display: grid;

    @include tablet-min-width {
    justify-items: center;
    }
}


.banner__code{
  min-width: 300px;
  border-radius: 30px;
  background: white;
  padding: 10px;
  @include mobile-min-width {
    font-size: 16px;
    padding: 40px;
  }
}

.article__separator {
  width: 100%;
  height: 1px;
  background: var(--blue-horisonal-stylish-separator);
}