@use 'mixins' as *;
@use 'media' as *;


.button {
	padding: 4px 16px;
	text-transform: uppercase;
	position: relative;
	text-align: center;
	color: var(--white);
	background: var(--button-blue-border-gradient);
	text-shadow: var(--button-text-shadow-blue);
	z-index: 1;
	white-space: nowrap;
	display:flex;
	justify-content: center;
	align-items: center;
	transition: box-shadow 0.2s ease, background-color 0.2s ease;
}



.button-background {
	border-radius: inherit;
	position: absolute;
	box-shadow: var(--button-background-shadow);
	inset: 2px;
	z-index: -1;
}

.button-primary {
	background: var(--button-blue-background);
}

.button-secondary {
	background: var(--red-button-background);
}

.button-small-medium {
	font-size:14px;
	border-radius: 30px;
	min-height: 32px;
	min-width: 100px;
	animation: border-animation-360  0.5s ease-in-out 1.8 forwards;
	animation-delay: 3s; 
	animation-fill-mode: none;
		@include tablet-min-width {
			min-height: 34px;
			min-width: 120px;
		}
}

.button-medium-large {
	font-size:14px;
	animation-delay: 2s;
	animation-fill-mode: none;
	border-radius: 40px;
	min-height: 36px;
	min-width: 130px;
		@include tablet-min-width {
			min-height: 40px;
			min-width: 160px;
			font-size:16px;
		}
	
}

.button--animation {
	animation: border-animation-360  0.7s ease-in-out 2 forwards;
	animation-delay: 1s;
	animation-fill-mode: none;
}

.button {
	@include hover {
   box-shadow: var(--button-shadow--hover);
    background: var(--button-blue-border-gradient--hover);
    
  }
}
	.button {
		@include hover {
			.button-background {
				background: var(--button-blue-background--hover);
			}
		}
	}