<div class="hero-banner  banner__container" id="git-repositories"> 
  <div class=" banner__inner banner--border ">
    <div class="banner__text-wrap">
      <h1 class="banner-heading">Page Load Process <br>
                            
      </h1>
      <p class="banner__text">The Page Load Process is the sequence of steps from entering
          a URL to fully displaying a web page. It includes DNS resolution, server
          connection, fetching resources, and rendering the content in the browser.
      </p>
      <h1 class="banner-heading"> Behind the scenes</h1>
      <p class="banner__text">When you enter a website URL in your browser and hit Enter,
         many things happen quickly behind the scenes.
      </p>
    </div>
  </div>
</div>

