<section class="cards-categories section">
  <div class="cards-heading">
    <a href="#" class="cards-heading__link">
      <h4 class="cards-heading__title">Tech stack</h4>
    </a>
    <a class="cards-heading__link">More</a>
  </div>
  <div class="cards-categories__inner">
    <div class="cards-grid">
      <a  class="cards-grid__link" routerLink="/images-page" fragment="raster-img" >
        <img class="card__img" src="img/raster-image.png" alt="raster-img.png" width="172" height="240">
      </a>
      <a  class="cards-grid__link" routerLink="/images-page" fragment="vector-img" >
        <img class="card__img" src="img/vector-img.png" alt="vector-image" width="172" height="240">
      </a>
      <a class="cards-grid__link" routerLink="/css-page" >
        <img class="card__img" src="img/grid_card.png" alt="grid_card" width="172" height="240">
      </a>
      <a  class="cards-grid__link" routerLink="/css-page">
        <img class="card__img" src="img/flex_card.png" alt="flex_card" width="172" height="240">
      </a>
      <a  class="cards-grid__link" routerLink="/git-page" fragment="git-commands" > 
        <img class="card__img" src="img/git_card.png" alt="git_commands" width="172" height="240">
      </a>
      <a class="cards-grid__link" routerLink="/browser">
        <img class="card__img" src="img/page-load.png" alt="page-loading_card" width="172" height="240">
      </a>
      <a  class="cards-grid__link" >
        <img class="card__img" src="img/js_card.png" alt="js_card" width="172" height="240">
      </a>
      <a class="cards-grid__link" routerLink="/browser">
        <img class="card__img" src="img/dom_card.png" alt="dom_card" width="172" height="240">
      </a>
      <a class="cards-grid__link">
        <img class="card__img" src="img/cms_card.png" alt="cms_card" width="172" height="240">
      </a>
      <a class="cards-grid__link">
        <img class="card__img" src="img/fe_card.png" alt="front-end_card" width="172" height="240">
      </a>
      <a class="cards-grid__link">
        <img class="card__img" src="img/js_card.png" alt="js_card" width="172" height="240">
      </a>
    </div>
  </div>
</section>