<section class="cards-categories section">
  <div class="cards-heading">
    <a href="#" class="cards-heading__link">
      <h4 class="cards-heading__title">Tech stack</h4>
    </a>
    <a class="cards-heading__link">See all</a>
  </div>
  <div class="cards-categories__inner">
    <div class="cards-grid">
      <a class="cards-grid__link" routerLink="/about-git" routerLinkActive="active-link">
        <img class="card__img" src="img/grid_card.png" alt="grid_card" width="172" height="240">
      </a>
      <a href="#" class="cards-grid__link">
        <img class="card__img" src="img/flex_card.png" alt="flex_card" width="172" height="240">
      </a>
      <a href="#" class="cards-grid__link">
        <img class="card__img" src="img/git_card.png" alt="git_commands" width="172" height="240">
      </a>
      <a href="#" class="cards-grid__link">
        <img class="card__img" src="img/images_card.png" alt="images_card" width="172" height="240">
      </a>
      <a href="#" class="cards-grid__link">
        <img class="card__img" src="img/js_card.png" alt="js_card" width="172" height="240">
      </a>
      <a href="#" class="cards-grid__link">
        <img class="card__img" src="img/dom_card.png" alt="dom_card" width="172" height="240">
      </a>
      <a href="#" class="cards-grid__link">
        <img class="card__img" src="img/cms_card.png" alt="cms_card" width="172" height="240">
      </a>
      <a href="#" class="cards-grid__link">
        <img class="card__img" src="img/fe_card.png" alt="front-end_card" width="172" height="240">
      </a>
      <a href="#" class="cards-grid__link">
        <img class="card__img" src="img/dom_card_global.png" alt="dom_card_globa" width="172" height="240">
      </a>
      <a href="#" class="cards-grid__link">
        <img class="card__img" src="img/js_card.png" alt="js_card" width="172" height="240">
      </a>
    </div>
  </div>
</section>