@use 'media' as *;
@use 'mixins' as *;


.cards__inner {
  display: grid;
  place-items: center;
  overflow-x: auto;
}

.cards__grid {
  position: relative;
  display: grid;
	grid-column-gap: 16px;
  grid-auto-flow: column;
  padding-right: 18px;
  grid-auto-columns: auto;
}

.card__link {
  width: 140px;
  height: 200px;
  border-left: 3px double var(--main-light-blue-transparent);
  border-top: 3px double var(--main-light-blue-transparent);
  border-radius: 8px;
  margin: 8px 0 20px 0;
  transition: transform 0.2s ease-in-out;
  @include flex-center;

  @include desktop-min-width {
    border-left: 4px double var(--main-light-blue-transparent);
    border-top: 4px double var(--main-light-blue-transparent);
    height: 270px;
    width: 200px;
   
  }
}

.card__link:hover {
  transform: translate(3%, -1%) scale(1.03);
}

.card__img {
  object-fit: contain; 
}

.cards__heading-wrap {
  padding-inline-end:16px;
  display:flex;
  justify-content: space-between;
}

.cards__heading-link {
  font-size: 16px;
  font-weight: 500;
  display: inline-flex;
  color: var(--white);
  text-transform: capitalize;
  text-decoration: underline;
}

