
<section class="cards section">

  <div class="cards__heading-wrap">
    <a href="#" class="cards__heading-link">Tech stack</a>
    <a class="cards__heading-link">More</a>
  </div>

  <div class="cards__inner">
    <div class="cards__grid">
      <a  class="card__link" routerLink="/images-page" fragment="raster-img" >
        <img class="card__img" src="img/raster-img.png" alt="raster-img.png" width="172" height="240">
      </a>

      <a  class="card__link" routerLink="/images-page" fragment="vector-img" >
        <img class="card__img" src="img/vector-img.png" alt="vector-image" width="172" height="240">
      </a>

      <a  class="card__link" routerLink="/css-page">
        <img class="card__img" src="img/flex.png" alt="flex_card" width="172" height="240">
      </a>

      <a class="card__link" routerLink="/css-page" >
        <img class="card__img" src="img/grid.png" alt="grid_card" width="172" height="240">
      </a>

      <a  class="card__link" routerLink="/git-page" fragment="git-commands" > 
        <img class="card__img" src="img/git_card.png" alt="git_commands" width="172" height="240">
      </a>

      <a class="card__link" routerLink="/browser">
        <img class="card__img" src="img/page-load.png" alt="page-loading_card" width="172" height="240">
      </a>

      <a  class="card__link" >
        <img class="card__img" src="img/forms.png" alt="js_card" width="172" height="240">
      </a>

      <a class="card__link">
        <img class="card__img" src="img/html-seo2.png" alt="front-end_card" width="172" height="240">
      </a>

      <a class="card__link" routerLink="/browser">
        <img class="card__img" src="img/dom1.png" alt="dom_card" width="172" height="240">
      </a>

    </div>
  </div>
</section>