<section class="info-cards section">
  <div class="info-cards_inner">
    <div class="info-cards-grid">
      <div class="info-card__grid-item">
        <div class="info-card__container-img">
          <div class="button-hidden">
            <button class="button button-small-medium" type="button"> Contact Me
              <span class="button-background button-secondary "></span>
            </button>
          </div>
          <img src="img/personal_card.jpg" alt="photo-me" width="180" height="180">
        </div>
        <span class="info-card__title" [style.background-image]="'url(/img/info_card_bg.png)'">title 1</span>
      </div>
      <div class="info-card__grid-item">
        <div class="info-card__container-img">
          <div class="button-hidden">
            <button class="button button-small-medium" type="button"> Contact Me
              <span class="button-background button-secondary "></span>
            </button>
          </div>
          <img src="img/personal_card.jpg" alt="photo-me" width="180" height="180">
        </div>
        <span class="info-card__title" [style.background-image]="'url(/img/info_card_bg.png)'">title 1</span>
      </div>
      <div class="info-card__grid-item">
        <div class="info-card__container-img">
          <div class="button-hidden">
            <button class="button button-small-medium" type="button"> Contact Me
              <span class="button-background button-secondary "></span>
            </button>
          </div>
          <img src="img/personal_card.jpg" alt="photo-me" width="180" height="180">
        </div>
        <span class="info-card__title" [style.background-image]="'url(/img/info_card_bg.png)'">title 1</span>
      </div>
      <div class="info-card__grid-item">
        <div class="info-card__container-img">
          <div class="button-hidden">
            <button class="button button-small-medium" type="button"> Contact Me
              <span class="button-background button-secondary "></span>
            </button>
          </div>
          <img src="img/personal_card.jpg" alt="photo-me" width="180" height="180" >
        </div>
        <span class="info-card__title" [style.background-image]="'url(/img/info_card_bg.png)'">title 1</span>
      </div>
      <div class="info-card__grid-item">
        <div class="info-card__container-img">
          <div class="button-hidden">
            <button class="button button-small-medium" type="button"> Contact Me
              <span class="button-background button-secondary "></span>
            </button>
          </div>
          <img src="img/personal_card.jpg" alt="photo-me" width="180" height="180">
        </div>
        <span class="info-card__title" [style.background-image]="'url(/img/info_card_bg.png)'">title 1</span>
      </div>
      <div class="info-card__grid-item">
        <div class="info-card__container-img">
          <div class="button-hidden">
            <button class="button button-small-medium" type="button"> Contact Me
              <span class="button-background button-secondary "></span>
            </button>
          </div>
          <img src="img/personal_card.jpg" alt="photo-me" width="180" height="180">
        </div>
        <span class="info-card__title" [style.background-image]="'url(/img/info_card_bg.png)'">title 1</span>
      </div>
      <div class="info-card__grid-item">
        <div class="info-card__container-img">
          <div class="button-hidden">
            <button class="button button-small-medium" type="button"> Contact Me
              <span class="button-background button-secondary "></span>
            </button>
          </div>
          <img src="img/personal_card.jpg" alt="photo-me" width="180" height="180">
        </div>
        <span class="info-card__title" [style.background-image]="'url(/img/info_card_bg.png)'">title 1</span>
      </div>
      <div class="info-card__grid-item">
        <div class="info-card__container-img">
          <div class="button-hidden">
            <button class="button button-small-medium" type="button"> Contact Me
              <span class="button-background button-secondary "></span>
            </button>
          </div>
          <img src="img/personal_card.jpg" alt="photo-me" width="180" height="180">
        </div>
        <span class="info-card__title" [style.background-image]="'url(/img/info_card_bg.png)'">title 1</span>
      </div>
    </div>	
  </div>
</section>