<section class="info-cards section">
  <div class="info-cards_inner">

    <div class="info-cards-grid">
      <div class="info-card__grid-item">
        <div class="info-card__container-img">
          <div class="button-hidden">
            <button class="button button-small-medium" type="button"> Visit now
              <span class="button-background button-secondary "></span>
            </button>
          </div>
          <img src="img/personal_card.jpg" alt="photo-me" width="180" height="180">
        </div>
        <span class="info-card__title">Personal</span>
      </div>

      <div class="info-card__grid-item">
        <div class="info-card__container-img">
          <div class="button-hidden">
            <button class="button button-small-medium" type="button"> Visit now
              <span class="button-background button-secondary "></span>
            </button>
          </div>
          <img src="img/personal_card.jpg" alt="photo-me" width="180" height="180">
        </div>
        <span class="info-card__title">Soft skills</span>
      </div>
      
      <div class="info-card__grid-item">
        <div class="info-card__container-img">
          <div class="button-hidden">
            <button class="button button-small-medium" type="button"> Visit now
              <span class="button-background button-secondary "></span>
            </button>
          </div>
          <img src="img/personal_card.jpg" alt="photo-me" width="180" height="180">
        </div>
        <span class="info-card__title">Hard skills</span>
      </div>

      <div class="info-card__grid-item">
        <div class="info-card__container-img">
          <div class="button-hidden">
            <button class="button button-small-medium" type="button"> Visit now
              <span class="button-background button-secondary "></span>
            </button>
          </div>
          <img src="img/personal_card.jpg" alt="photo-me" width="180" height="180" >
        </div>
        <span class="info-card__title">Portfolio</span>
      </div>

      <div class="info-card__grid-item">
        <div class="info-card__container-img">
          <div class="button-hidden">
            <button class="button button-small-medium" type="button"> Visit now
              <span class="button-background button-secondary "></span>
            </button>
          </div>
          <img src="img/personal_card.jpg" alt="photo-me" width="180" height="180">
        </div>
        <span class="info-card__title">Useful Links</span>
      </div>

    
      <div class="info-card__grid-item">
        <div class="info-card__container-img">
          <div class="button-hidden">
            <button class="button button-small-medium" type="button"> Visit now
              <span class="button-background button-secondary "></span>
            </button>
          </div>
          <img src="img/personal_card.jpg" alt="photo-me" width="180" height="180">
        </div>
        <span class="info-card__title">Social Media</span>
      </div>
      
      <div class="info-card__grid-item">
        <div class="info-card__container-img">
          <div class="button-hidden">
            <button class="button button-small-medium" type="button"> Visit now
              <span class="button-background button-secondary "></span>
            </button>
          </div>
          <img src="img/personal_card.jpg" alt="photo-me" width="180" height="180">
        </div>
        <span class="info-card__title">GitHub</span>
      </div>
    </div>	

  </div>
</section>