<section class="info-cards section">
  <div class="info-cards_inner">

    <div class="info-cards-grid">
      <div class="info-card__grid-item">
        <a class="info-card__link"  routerLink="personal-page">
          <div class="button-hidden">
            <a class="button button-small-medium" type="button" > See more
              <span class="button-background button-secondary "></span>
            </a>
          </div>
          <img class="info-cards__img" src="img/portret.png" alt="photo-me" width="180" height="180">
        </a>
        <span class="info-card__title">Personal</span>
      </div>

      <div class="info-card__grid-item">
        <a class="info-card__link" routerLink="personal-page">
          <div class="button-hidden">
            <a class="button button-small-medium" type="button"> See more
              <span class="button-background button-secondary "></span>
            </a>
          </div>
          <img class="info-cards__img" src="img/soft-skills.png" alt="photo-me" width="180" height="180">
        </a>
        <span class="info-card__title">Soft skills</span>
      </div>
      
      <div class="info-card__grid-item">
        <a class="info-card__link" routerLink="personal-page">
          <div class="button-hidden">
            <a class="button button-small-medium"type="button"> See more
              <span class="button-background button-secondary "></span>
            </a>
          </div>
          <img class="info-cards__img" src="img/hard-skills.png" alt="photo-me" width="180" height="180">
        </a>
        <span class="info-card__title">Hard skills</span>
      </div>

      <div class="info-card__grid-item">
        <a class="info-card__link">
          <div class="button-hidden">
            <a class="button button-small-medium" type="button"> See more
              <span class="button-background button-secondary "></span>
            </a>
          </div>
          <img class="info-cards__img" src="img/portfolio.png" alt="photo-me" width="180" height="180" >
        </a>
        <span class="info-card__title">Portfolio</span>
      </div>

      <div class="info-card__grid-item">
        <a class="info-card__link" target="_blank" href="https://github.com/KoliadaNazar">
          <div class="button-hidden">
            <a class="button button-small-medium" type="button"> See more
              <span class="button-background button-secondary "></span>
            </a>
          </div>
          <img class="info-cards__img" src="img/github.png" alt="photo-me" width="180" height="180">
        </a>
        <span class="info-card__title">GitHub</span>
      </div>

      <div class="info-card__grid-item">
        <a class="info-card__link">
          <div class="button-hidden">
            <a class="button button-small-medium" type="button"> See more
              <span class="button-background button-secondary "></span>
            </a>
          </div>
          <img class="info-cards__img" src="img/tech.png" alt="photo-me" width="180" height="180">
        </a>
        <span class="info-card__title">Useful Links</span>
      </div>

    
      <div class="info-card__grid-item">
        <a class="info-card__link" href="#contacts">
          <div class="button-hidden">
            <a class="button button-small-medium" type="button"> See more
              <span class="button-background button-secondary "></span>
            </a>
          </div>
          <img class="info-cards__img" src="img/socials.png" alt="photo-me" width="180" height="180">
        </a>
        <span class="info-card__title">Social Media</span>
      </div>

    </div>	

  </div>
</section>