

<div class="container article" >
  <div class="container--border article__inner">

    <h2 class="article__heading"> Soft Skills </h2>
    <div class="article__cell">
      <h2 class="article__list-heading">Personal Qualities</h2>
      <ul class="article__list">
        <li class="article__list-item">Self-organized and disciplined</li>
        <li class="article__list-item">Responsible and reliable</li>
        <li class="article__list-item">Strong organizational skills</li>
        <li class="article__list-item">Able to admit mistakes and learn from them</li>
        <li class="article__list-item">Self-analytical and open to feedback</li>
        <li class="article__list-item">Always learning and growing</li>
        <li class="article__list-item">Highly motivated and goal-oriented</li>
        <li class="article__list-item">Friendly and easy to get along with</li>
        <li class="article__list-item">Polite and respectful in communication</li>
        <li class="article__list-item">Humble and open-minded</li>
        <li class="article__list-item" id="hard-skills" >Honest and trustworthy</li>
      </ul>
    </div>

  </div>
</div>