
<div class="container">
  <div class="container--border container__inner">
    
    <h2 class="container__heading"> Git commands
    </h2>
    <div class="container__separator"></div>
    <p class="container__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Modi magnam deserunt suscipit, voluptatem omnis quaerat
        architecto? Suscipit, corporis molestias similique sit velit
        ab vitae sunt. Minima, voluptates nostrum? Dignissimos, nisi.
    </p>
    <p class="container__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Modi magnam deserunt suscipit, voluptatem omnis quaerat
      architecto? Suscipit, corporis molestias similique sit velit
      ab vitae sunt. Minima, voluptates nostrum? Dignissimos, nisi.
  </p>
  <p class="container__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Modi magnam deserunt suscipit, voluptatem omnis quaerat
    architecto? Suscipit, corporis molestias similique sit velit
    ab vitae sunt. Minima, voluptates nostrum? Dignissimos, nisi.
</p>
  </div>
</div>