@use '../../../../../assets/styles/media' as *;
@use '../../../../../assets/styles/mixins' as *;


.container__inner {
  padding: 16px;
  background: var(--white);
  display: grid;
  grid-row-gap: 16px;
    @include laptop-min-width {
      padding: 32px 96px;
    }
}


.container__separator {
  width: 100%;
  height: 1px;
  background: var(--blue-horisonal-stylish-separator);
}