
$desktop-max-width: 1280px;
$tablet-max-width:1023px;
$mobile-max-width: 767px;

@mixin mobile-max-width {
  @media (max-width:$mobile-max-width){
    @content;
  }
}

$large-desktop-min-width: 1440px;
$desktop-min-width: 1281px;
$laptop-min-width: 1024px;
$tablet-min-width: 768px;
$mobile-min-width: 380px;

@mixin large-desktop-min-width {
  @media(min-width:$large-desktop-min-width){
    @content;
  }
}

@mixin mobile-min-width {
  @media (min-width: $mobile-min-width) {
    @content;
  }
}

@mixin tablet-min-width {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin laptop-min-width {
  @media (min-width: $laptop-min-width) {
    @content;
  }
}

@mixin desktop-min-width {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}





